@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
@media (max-width: 450px) {
  .transport-text {
    font-size: calc(3.0em + .9vw) !important;
}
}
@media (min-width: 1200px){
  #title-comapny {
    font-size: 4rem;
    color: wheat;
  }
  #title-comapny-next {
    font-size: 4rem;
    color: wheat;
  }
  .coop-title{
    font-size: 3.5rem !important;
  }
}
body {
  background-color: black;
  margin: 0px !important;
  color:white;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */

}

/*--- Bootstrap Mobile Gutter Fix --*/
/* .row, .container-fluid {
  margin-left: 0px!important;
  margin-right: 0px!important;
  } */
  
  /*--- Fixed Video Background iOS/Mobile Style--*/
  .video-wrap {
    background-attachment: none;
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #video {
    background-attachment: none;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    z-index: -1000;
  }
  video { 
    background-attachment: none;

    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
  }
  .video-background {
    position: relative;
    width: 100%;
    min-height: 100vh;
  }
.caption {
  position: absolute;
  top:38%;
}
.phone-icon:before {
  content: '\f095';
  font: var(--fa-font-solid);
  margin-right: 5px;
}
.clock-icon:before {
  content: '\f017';
  font: var(--fa-font-solid);
  margin-right: 5px;
  margin-left: 10px;
}
.facebook-icon:before {
  content: '\f09a';
  font: var(--fa-font-brands);
  margin-right: 5px;
}
.linkedin-icon:before {
  content: '\f08c';
  font: var(--fa-font-brands);
  margin-left: 5px;
}

a {
  text-decoration: none;
  
}
a:link {
  color:white;
}
a:visited {
  color: white;
}
a:hover {
  color:#FFC107 !important;
}
.py-0 {
  padding-top: 0.01rem!important;
  padding-bottom: 0.01rem!important;
}
.col-md-8 {
  margin: 2rem auto 8rem;
  padding-top: 2rem;
}
.col-md-8 h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}


.video-background {
  position: relative !important;
  width: 100% !important;
  min-height: 100vh !important;
  }
.navbar-absolute {
  position: absolute;
  right:0px;
  z-index: 1;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 35px;
}
#myNav {
  width: 100%;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

#title-comapny {
  font-size: calc(2.325rem + .9vw);
  color: wheat;
  font-weight: bold;
}
#title-comapny-next {
  font-size: calc(2.0rem + .9vw);
  color: wheat;
}
#text-after-title {
  color: wheat;
  font-size: calc(1rem + .9vw);
}
.describe-truck{
  font-size: calc(2.4rem + .4vw);
}
.black-and-white {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.black-and-white:hover {
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
  filter: none;
  transition: all 1.0s ease;
  -webkit-transition: all 1.0s ease;
}
.icon-do {
  font-size: 30px
}

.icon-do:hover {
  transform: scale(0.9);
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
.numbers {
  --bs-gutter-x: 8.75rem;
}
.font-footer {
  font-size: 0.8rem;
}
.accordion {
  --bs-accordion-color: none  !important;
  --bs-accordion-bg: rgb(33,37,41) !important;
  --bs-accordion-border-color: none;
  color:white;
}

.accordion-button:not(.collapsed) {
  color: #212529;
  background-color: #FFC107;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); 
  transform: var(--bs-accordion-btn-icon-transform);
}
/* .coop-title{

} */
.form-control {
  background-color: #212529 !important;
  border: none !important;
  color: white !important;
}
.form-control:focus {
  outline: rgb(255, 200, 0) solid 1px !important;

}
.form-select {
  background-color:  #212529 !important;
  color: white !important;
  border : none !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.form-control:focus {   
  border-color: none;
  box-shadow:none;
  outline:none;
  color: white;
}
.transport-text {
    font-size: calc(4.5rem + .9vw);
    font-weight: 800;
    color: white;
    line-height: 90px;

}
.text-on-coop {
  color:#F8F9FA;
}
.rmdp-week-day {
  color:rgb(255, 200, 0) !important;
}
.errorInput {
  padding: 3px;
  /* color:red; */
  word-spacing: 1.5px;
  display: none;
  color:red;
}

input:invalid[focused = "true"]{
  border:1px solid red !important;
}

input:invalid[focused ="true"] ~ span {
display: block;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid green; */
  /* -webkit-text-fill-color: green; */
  /* -webkit-box-shadow: 0 0 0px 1000px #000 inset; */
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white;
}

.img-gallery {
  height: 50vh;
  object-fit : cover;
}